{{!-- <nav class = 'navbar navbar-expand-md navbar-primary'>
    <a href="/home" class="navbar-brand">Welcome {{firstname}} {{lastname}}</a>
</nav> --}}

<div class="container">
    <h2 class= 'd-flex justify-content-center'>Welcome to Pic-tify</h2>
</div>