<form action="/api/users" method = "POST">
    First Name: <input type="text" name = "fname">
    Last Name: <input type="text" name = "lname">
    Email: <input type="email" name = 'email'>
    password: <input type="text" name = 'pass1'>
    confirm password: <input type="text" name = 'pass2'>
    <input type="submit" value = 'Submit'>
</form>